<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maintenance Page</title>
  </head>
  <body>
    <h1>Page is in Maintenance</h1>

    <p>Maintenance in progress</p>

    {{> footer}}
  </body>

</html>
